
@{
    ViewBag.Title = "About";
}

<div class="container">

    <div class="row">

        <div class="col-md-3">
            @Html.Partial("PartialPageCategories")
        </div>

        <div class="col-md-9">
            <div>
                <h2>Lorem Ipsum</h2>
                <hr />
                <img src="~/Image/simple-simple-background-minimalism-black-background-wallpaper-preview.jpg" height=300 width="800" />
                <hr />
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
            </div>
        </div>

    </div>

</div>

