
@{
    ViewBag.Title = "SignupSuccess";
}

<h2>ActivateUser</h2>
<div class="container">
    <div class="col-md-12">
        <p>You Have Registered Succesfully</p>
    </div>
</div>

<script>
    $(function () {
        setTimeout(function () {
            window.location("/Home/Index")
        }, 3000)
    })
</script>
