<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Makale Projem</title>
    <script src="~/Scripts/jquery-3.6.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        a, a:hover {
            text-decoration-color: initial !important;
            color: inherit;
        }
    </style>
</head>

<body>

    @{
        User usr = null;
        if (Session["login"] != null)
        {
            usr = (User)Session["login"];
        }

    }

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #2b3744; border:none" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">ArticleWeb</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                   
                    <li>
                        <a href="/Home/MostLiked">Most Liked</a>
                    </li>
                    <li>
                        <a href="/Home/Index">Last Articles</a>
                    </li>
                    <li>
                        <a href="/Home/About">About</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (usr == null)
                    {
                        <li><a href="/Home/Login"><span class="glyphicon glyphicon-log-in" style="margin-right:5px"></span>Sign In</a></li>
                        <li><a href="/Home/Signup"> <span class="glyphicon glyphicon-user " style="margin-right:5px"></span>Sign Up</a></li>
                    }
                    else
                    {
                        <li class="dropdown">
                            
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menage <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Note/AddNote">Add Note</a></li>
                                <li><a href="/Note/Notes">My Notes</a></li>
                                @if (usr.Admin)
                                {
                                    <li><a href="/Category/Create">Add Category</a></li>
                                    <li><a href="/Category/Index">Categories</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/User/Create">Add User</a></li>
                                    <li><a href="/User/Index">Users</a></li>
                                }
                                <li role="separator" class="divider"></li>
                                <li><a href="/Note/Likes">Likes</a></li>
                            </ul>
                        </li>
                        <li><a href="/Home/ProfilePage">@usr.Username</a></li>
                        <li><a href="/Home/Logout"><span class="glyphicon glyphicon-log-out" style="margin-right:5px"></span>Sign Out</a></li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    @RenderBody()
    <!-- /.container -->
    @RenderSection("footer", false)
</body>

</html>
