<div class="container" style="margin-top:100px;">

    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-4 text-center" style="margin-top:10px">
                <h5 style="margin-top:0px;">Site Map</h5>
                <ul style="list-style:none; padding:0px" id="siteharitasi">

                    <li><a href="/Home/About">About</a></li>
                    <li><a href="/Home/MostLiked">Most Liked</a></li>
                    <li> <a href="/Home/Index">Last Articles</a></li>
                </ul>
            </div>
            <div class="col-lg-4 text-center">
                <p>Copyright &copy; ArticlesWeb @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h5 style="margin-top:0px;">Sign Up For Feed</h5>
                <div class="col-lg-12 ">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Your E-Mail">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Subscribe</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
