@using Article_BLL
@using Article_Entities
@using Article_Web.Models

@{
    CategoryBL ctgBL = new CategoryBL();
    List<Category> Categories = CacheHelper.Categories();
}


<p class="lead">Categories</p>
<div class="list-group">
    <a href="/Home/Index" class="list-group-item">All</a>
    @foreach (var category in Categories)
    {
        <a href="/Home/Category/@category.Id" class="list-group-item">@category.Title</a>
    }
</div>
